In [1]:
#Q1

In [ ]:
read_csv(): This function is used to read data from a CSV file and create a pandas DataFrame.
import pandas as pd

# Read the CSV file into a DataFrame
data = pd.read_csv('data.csv')
print(data)

In [ ]:
head(): This function is used to view the first few rows of a DataFrame.
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'],
                     'Age': [25, 30, 35],
                     'Country': ['USA', 'Canada', 'UK']})

# Display the first 2 rows of the DataFrame
print(data.head(2))

In [ ]:
describe(): This function generates descriptive statistics of a DataFrame, such as count, mean, min, max, etc.
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'Age': [25, 30, 35, 40, 45]})

# Generate descriptive statistics
print(data.describe())

In [ ]:
groupby(): This function is used for grouping rows based on one or more columns in a DataFrame.
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
                     'Age': [25, 30, 35, 40, 45],
                     'Country': ['USA', 'Canada', 'UK', 'USA', 'Canada']})

# Group the DataFrame by 'Name' column
grouped_data = data.groupby('Name')

# Iterate over the groups
for name, group in grouped_data:
    print(f"Group: {name}")
    print(group)

In [ ]:
to_csv(): This function is used to write the contents of a DataFrame to a CSV file.
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'],
                     'Age': [25, 30, 35],
                     'Country': ['USA', 'Canada', 'UK']})

# Write the DataFrame to a CSV file
data.to_csv('output.csv', index=False)

In [ ]:
#Q2

In [3]:
import pandas as pd

def reindex_dataframe(df):
    # Reset the index with a new index starting from 1 and incrementing by 2
    df.index = pd.RangeIndex(start=1, step=2, stop=len(df)*2 + 1)
    return df

# Example usage:
# Assuming you have a DataFrame named 'df' with columns 'A', 'B', and 'C'
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})
reindexed_df = reindex_dataframe(df)
print(reindexed_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [ ]:
#Q3

In [4]:
import pandas as pd

def calculate_sum_of_values(df):
    # Access the 'Values' column and calculate the sum of the first three values
    values_sum = df['Values'].head(3).sum()
    print("Sum of the first three values:", values_sum)

# Example usage:
# Assuming you have a DataFrame named 'df' with a column 'Values'
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
calculate_sum_of_values(df)

Sum of the first three values: 60

In [5]:
#Q4

In [6]:
import pandas as pd

def add_word_count_column(df):
    # Split the 'Text' column by whitespace and count the number of resulting words
    df['Word_Count'] = df['Text'].str.split().str.len()
    return df

# Example usage:
# Assuming you have a DataFrame named 'df' with a column 'Text'
df = pd.DataFrame({'Text': ['Hello, how are you?', 'I am doing well.', 'This is a pandas DataFrame.']})
df = add_word_count_column(df)
print(df)

                          Text  Word_Count
0          Hello, how are you?           4
1             I am doing well.           4
2  This is a pandas DataFrame.           5

In [ ]:
#Q5

In [ ]:
# DataFrame.size returns the total number of elements in the DataFrame.
# It gives the product of the number of rows and columns in the DataFrame.
# The returned value is an integer representing the size of the DataFrame.
# It does not provide information about the shape or structure of the DataFrame.

In [ ]:
# DataFrame.shape returns a tuple representing the dimensions of the DataFrame.
# It provides the number of rows followed by the number of columns in the DataFrame.
# The returned value is a tuple in the format (rows, columns).
# It is a useful attribute to quickly understand the structure and shape of the DataFrame.

In [1]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Example 1: DataFrame.size
size = df.size
print("DataFrame.size:", size)
# Output: DataFrame.size: 9
# The DataFrame has 3 rows and 3 columns, so the size is 3 * 3 = 9.

# Example 2: DataFrame.shape
shape = df.shape
print("DataFrame.shape:", shape)
# Output: DataFrame.shape: (3, 3)
# The DataFrame has 3 rows and 3 columns, so the shape is (3, 3).

DataFrame.size: 9
DataFrame.shape: (3, 3)

In [ ]:
#Q6

In [ ]:
# To read an Excel file in pandas, you can use the read_excel() function. 
# This function allows you to read the contents of an Excel file into a pandas DataFrame.

In [2]:
import pandas as pd

# Read the Excel file into a DataFrame
data = pd.read_excel('output.xlsx')

# Print the DataFrame
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [ ]:
#Q7

In [3]:
import pandas as pd

def extract_username(df):
    # Split the 'Email' column by '@' and extract the first part (username)
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

# Example usage:
# Assuming you have a DataFrame named 'df' with a column 'Email'
df = pd.DataFrame({'Email': ['john@example.com', 'jane@example.com', 'smith@example.com']})
df = extract_username(df)
print(df)

               Email Username
0   john@example.com     john
1   jane@example.com     jane
2  smith@example.com    smith

In [ ]:
#Q8

In [4]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
# Assuming you have a DataFrame named 'df' with columns 'A', 'B', and 'C'
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
#Q9

In [5]:
import pandas as pd

def calculate_stats(df):
    values_column = df['Values']
    
    # Calculate mean
    mean = values_column.mean()
    
    # Calculate median
    median = values_column.median()
    
    # Calculate standard deviation
    std_dev = values_column.std()
    
    return mean, median, std_dev

# Example usage:
# Assuming you have a DataFrame named 'df' with a column 'Values'
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
mean, median, std_dev = calculate_stats(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

In [ ]:
#Q10

In [6]:
import pandas as pd

def calculate_moving_average(df):
    window_size = 7
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df

# Example usage:
# Assuming you have a DataFrame named 'df' with columns 'Sales' and 'Date'
df = pd.DataFrame({'Sales': [10, 15, 20, 18, 25, 22, 19, 17, 23, 20, 15, 12],
                   'Date': pd.date_range(start='2022-01-01', periods=12, freq='D')})
df = calculate_moving_average(df)
print(df)

    Sales       Date  MovingAverage
0      10 2022-01-01      10.000000
1      15 2022-01-02      12.500000
2      20 2022-01-03      15.000000
3      18 2022-01-04      15.750000
4      25 2022-01-05      17.600000
5      22 2022-01-06      18.333333
6      19 2022-01-07      18.428571
7      17 2022-01-08      19.428571
8      23 2022-01-09      20.571429
9      20 2022-01-10      20.571429
10     15 2022-01-11      20.142857
11     12 2022-01-12      18.285714

In [ ]:
#Q11

In [7]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Example usage:
# Assuming you have a DataFrame named 'df' with a column 'Date'
df = pd.DataFrame({'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'])})
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [ ]:
#Q12

In [8]:
import pandas as pd

def select_rows_by_date_range(df, start_date, end_date):
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df[mask]
    return selected_rows

# Example usage:
# Assuming you have a DataFrame named 'df' with a column 'Date'
df = pd.DataFrame({'Date': pd.to_datetime(['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-05'])})
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2023-01-31')
selected_df = select_rows_by_date_range(df, start_date, end_date)
print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

In [ ]:
#Q13

In [9]:
#The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself.

In [ ]:
import pandas as pd