In [1]:
#Q1

In [2]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Q2

In [5]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
#Q3

In [7]:
import pandas as pd

# Create a dictionary with data for three columns
data = {
    'Name': ['Alice', 'Bob','Claire'],
    'Age': [25, 30, 27],
    'gender': ['Female', 'Male', 'Female']
}

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
#Q4

In [ ]:
#In pandas, a DataFrame is a two-dimensional labeled data structure that
#is commonly used to represent tabular data, similar to a spreadsheet or a 
#SQL table. It consists of rows and columns, where each column can contain different data types.

In [ ]:
#On the other hand, a Series is a one-dimensional labeled array-like object in pandas.
#It can be thought of as a single column of data with row labels or indices. It is similar
t#o a NumPy array but includes additional functionalities, such as index labels and support for different data types.

In [9]:
import pandas as pd

# Create a dictionary with data for two columns
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 35]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from the 'Age' column
age_series = df['Age']

# Print the DataFrame
print(df)

# Print the Series
print(age_series)

    Name  Age
0   John   25
1  Alice   30
2    Bob   35
0    25
1    30
2    35
Name: Age, dtype: int64

In [ ]:
#Q5

In [ ]:
#Pandas provides a wide range of functions to manipulate data in a DataFrame.

In [ ]:
#Filtering: You can filter data in a DataFrame using functions like loc[], iloc[], or boolean indexing.
#filtered_df = df.loc[df['Age'] > 30]

In [10]:
#Sorting: You can sort the DataFrame based on one or more columns using the sort_values() function.
#sorted_df = df.sort_values('Age', ascending=False)

In [11]:
#Aggregation: Functions like groupby(), sum(), mean(), count(), etc., allow you to perform aggregations on the DataFrame.
#grouped_df = df.groupby('City')['Age'].mean()

In [ ]:
#Merging and Joining: The merge() function enables you to combine two DataFrames based on 
#common columns, similar to a database join operation.
#merged_df = pd.merge(df1, df2, on='ID')

In [ ]:
#Q6

In [ ]:
#Among the options provided, both Series and DataFrame are mutable in nature, while Panel is not mutable.